@page
@model ECOMCupCake.Pages.Profile.PasswordModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Change Password";
}

<div class="row">
    <div class="col-12 col-lg-4 mx-auto">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">@ViewData["Title"]</h4>
            </div>
            <div class="card-body">
                <section>
                    @if (Model.StatusMessage != null)
                    {
                        <span class="alert-info">@Model.StatusMessage</span>
                    }
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        @if (Model.ChangePasswordViewModel.HasPassword)
                        {
                            <div class="form-group">
                                <label asp-for="ChangePasswordViewModel.OldPassword"></label>
                                <input asp-for="ChangePasswordViewModel.OldPassword" required class="form-control" />
                                <span asp-validation-for="ChangePasswordViewModel.OldPassword" class="text-danger"></span>
                            </div>
                        }

                        <div class="form-group">
                            <label asp-for="ChangePasswordViewModel.NewPassword"></label>
                            <input asp-for="ChangePasswordViewModel.NewPassword" class="form-control" />
                            <span asp-validation-for="ChangePasswordViewModel.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ChangePasswordViewModel.ConfirmPassword"></label>
                            <input asp-for="ChangePasswordViewModel.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ChangePasswordViewModel.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-lg btn-secondary btn-block">Change Password</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}