<form class="form" method="POST">
    <div class="form-group">
        <input class="form-control mb-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success mb-2" type="submit">Search</button>
    </div>
</form>

